
- content_for :actions do 
  #add_element= link_to "Add Element", new_landing_page_page_element_path( @landing_page ), :class => :button
- content_for :title, @landing_page.title

#description= @landing_page.description
#page_elements
  %table.table
    %tr
      %th Label
      %th Value
      %th
    
    - @landing_page.page_elements.each do |element|
      %tr
        %td#label= element.label
        %td#value
          = form_for element, :url => landing_page_page_element_path(@landing_page, element), :remote => true do |f|
            = f.text_area :value
            = f.submit
        %td.controls
          
          .delete= link_to "Destroy", landing_page_page_element_path(@landing_page, element), :method => :delete