
- content_for :actions do 
  #add_element= link_to "Add Element", new_landing_page_page_element_path( @landinge_page ), :class => :button
- content_for :title, @landinge_page.title

#description= @landinge_page.description
#page_elements
  %table.table
    %tr
      %th Label
      %th Value
      %th
    
    - @landinge_page.page_elements.each do |element|
      %tr
        %td#label= element.label
        %td#value= element.value
        %td.controls
          .edit= link_to "Edit", edit_landing_page_page_element_path(@landinge_page, element)
          .delete= link_to "Destroy", landing_page_page_element_path(@landinge_page, element), :method => :delete